{% extends 'SyliusResourceBundle:Macros:buttons.html.twig' %}

{% macro move(url, direction, first=false, last=false, message='') %}
    <form action="{{ url }}" method="post" class="delete-action-form pull-right" novalidate>
        <input type="hidden" name="_method" value="PUT">
        <button title="{{ message is empty ? ('sylius.move_'~direction)|trans : message }}" class="btn btn-default
        btn-xs {% if ('up' == direction and first) or ('down' == direction and last) %}disabled{% endif %}"
                type="submit">
            <i class="glyphicon glyphicon-arrow-{{ direction }}"></i>
        </button>
    </form>
{% endmacro %}

{% macro delete_button(id) %}
    <a class="btn red-haze btn-circle" data-toggle="modal" href="#{{ id }}">
        <i class="fa fa-trash"></i> Remover
    </a>
{% endmacro %}

{% macro delete_confirm(id, path) %}
    <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">{{ 'form.remove.title' | trans }}</h4>
                </div>
                <form method="post" id="form_menu_remove"
                      action="{{ path }}">
                    <input type="hidden" name="_method" value="DELETE"/>

                    <div class="modal-body">
                        <div class="text-warning">
                            <i class="fa fa-warning"></i> {{ 'form.remove.message' | trans }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn default"
                                data-dismiss="modal">{{ 'button.close' | trans }}</button>
                        <button type="submit"
                                class="btn red-haze">{{ 'button.confirm' | trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endmacro %}