{% macro pagination(paginator, options) %}
    {% import _self as pagination %}
    <div class="table-options">
        <div class="pull-left">
            {% if paginator.haveToPaginate()|default(false) %}
                <ul class="pagination">
                    {% if paginator.currentPage == 1 %}
                        <li class="disabled"><a href="#">&laquo;</a></li>
                    {% else %}
                        <li>
                            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'page': paginator.currentPage - 1})) }}">&laquo;</a>
                        </li>
                    {% endif %}
                    {% for number in 1..paginator.nbPages %}
                        <li class="{% if number == paginator.currentPage %}active {% endif %}item">
                            <a
                                    href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'page': number})) }}">{{ number }}</a>
                        </li>
                    {% endfor %}
                    {% if paginator.currentPage == paginator.nbPages %}
                        <li class="disabled"><a href="#">»</a></li>
                    {% else %}
                        <li>
                            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'page': paginator.currentPage + 1})) }}">&raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        <div class="pull-right col-md-4">
            {% if paginator | length >  10 %}
                <form method="get" class=""
                      action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)) }}">
                    <div class="input-group ">
                        <input type="text" name="page" placeholder="{{ 'pagination.jump_to_page'|trans }}..."
                               class="form-control"
                               required="required">

                        <div class="input-group-btn">
                            <button type="submit" class="btn">{{ 'pagination.go'|trans }}</button>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro delete_confirm(id, path) %}
    <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">{{ 'form.remove.title' | trans({}, 'PositibeCoreBundle') }}</h4>
                </div>
                <form method="post" id="form_menu_remove"
                      action="{{ path }}">
                    <input type="hidden" name="_method" value="DELETE"/>

                    <div class="modal-body">
                        <div class="text-warning">
                            <i class="fa fa-warning"></i> {{ 'form.remove.message' | trans({}, 'PositibeCoreBundle') }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn default"
                                data-dismiss="modal">{{ 'button.close' | trans({}, 'PositibeCoreBundle') }}</button>
                        <button type="submit"
                                class="btn red-haze">{{ 'button.confirm' | trans({}, 'PositibeCoreBundle') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro delete_button(id) %}
    <a class="btn red-haze btn-circle" data-toggle="modal" href="#{{ id }}">
        <i class="fa fa-trash"></i> Remover
    </a>
{% endmacro %}