{% macro pagination(paginator, options) %}
    <div class="table-options">
        <div class="text-left">{% if paginator.haveToPaginate()|default(false) %}
                {{ pagerfanta(paginator, 'twitter_bootstrap3_translated', options|default({})) }}
            {% endif %}
        </div>
        <div class="pull-right">
            {% if paginator | length >  10 %}
                <div class="pagination text-left" style="position: relative">
                    {{ sylius_resource_paginate(paginator, [10, 30, 50], {'template': 'PositibeCoreBundle:Pagination:_pagination_nb_results.html.twig'}) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro delete_confirm(id, path) %}
    <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">{{ 'form.remove.title' | trans({}, 'PositibeCoreBundle') }}</h4>
                </div>
                <form method="post" id="form_menu_remove"
                      action="{{ path }}">
                    <input type="hidden" name="_method" value="DELETE"/>

                    <div class="modal-body">
                        <div class="text-warning">
                            <i class="fa fa-warning"></i> {{ 'form.remove.message' | trans({}, 'PositibeCoreBundle') }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn default"
                                data-dismiss="modal">{{ 'button.close' | trans({}, 'PositibeCoreBundle') }}</button>
                        <button type="submit"
                                class="btn red-haze">{{ 'button.confirm' | trans({}, 'PositibeCoreBundle') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro delete_button(id) %}
    <a class="btn red-haze btn-circle" data-toggle="modal" href="#{{ id }}">
        <i class="fa fa-trash"></i> Remover
    </a>
{% endmacro %}